(
    palette: Dark((
        name: "{{scheme-name}}",
        blue: (
            red: {{base0C-dec-r}},
            green: {{base0C-dec-g}},
            blue: {{base0C-dec-b}},
            alpha: 1.0,
        ),
        red: (
            red: {{base08-dec-r}},
            green: {{base08-dec-g}},
            blue: {{base08-dec-b}},
            alpha: 1.0,
        ),
        green: (
            red: {{base0B-dec-r}},
            green: {{base0B-dec-g}},
            blue: {{base0B-dec-b}},
            alpha: 1.0,
        ),
        yellow: (
            red: {{base0A-dec-r}},
            green: {{base0A-dec-g}},
            blue: {{base0A-dec-b}},
            alpha: 1.0,
        ),
        gray_1: (
            red: {{base00-dec-r}},
            green: {{base00-dec-g}},
            blue: {{base00-dec-b}},
            alpha: 1.0,
        ),
        gray_2: (
            red: {{base02-dec-r}},
            green: {{base02-dec-g}},
            blue: {{base02-dec-b}},
            alpha: 1.0,
        ),
        gray_3: (
            red: {{base03-dec-r}},
            green: {{base03-dec-g}},
            blue: {{base03-dec-b}},
            alpha: 1.0,
        ),
        neutral_0: (
            red: {{base00-dec-r}},
            green: {{base00-dec-g}},
            blue: {{base00-dec-b}},
            alpha: 1.0,
        ),
        neutral_1: (
            red: {{base01-dec-r}},
            green: {{base01-dec-g}},
            blue: {{base01-dec-b}},
            alpha: 1.0,
        ),
        neutral_2: (
            red: {{base02-dec-r}},
            green: {{base02-dec-g}},
            blue: {{base02-dec-b}},
            alpha: 1.0,
        ),
        neutral_3: (
            red: {{base00-dec-r}},
            green: {{base00-dec-g}},
            blue: {{base00-dec-b}},
            alpha: 1.0,
        ),
        neutral_4: (
            red: {{base02-dec-r}},
            green: {{base02-dec-g}},
            blue: {{base02-dec-b}},
            alpha: 1.0,
        ),
        neutral_5: (
            red: {{base03-dec-r}},
            green: {{base03-dec-g}},
            blue: {{base03-dec-b}},
            alpha: 1.0,
        ),
        neutral_6: (
            red: {{base00-dec-r}},
            green: {{base00-dec-g}},
            blue: {{base00-dec-b}},
            alpha: 1.0,
        ),
        neutral_7: (
            red: {{base02-dec-r}},
            green: {{base02-dec-g}},
            blue: {{base02-dec-b}},
            alpha: 1.0,
        ),
        neutral_8: (
            red: {{base03-dec-r}},
            green: {{base03-dec-g}},
            blue: {{base03-dec-b}},
            alpha: 1.0,
        ),
        neutral_9: (
            red: {{base00-dec-r}},
            green: {{base00-dec-g}},
            blue: {{base00-dec-b}},
            alpha: 1.0,
        ),
        neutral_10: (
            red: {{base01-dec-r}},
            green: {{base01-dec-g}},
            blue: {{base01-dec-b}},
            alpha: 1.0,
        ),
        bright_green: (
            red: {{base0C-dec-r}},
            green: {{base0C-dec-g}},
            blue: {{base0C-dec-b}},
            alpha: 1.0,
        ),
        bright_red: (
            red: {{base08-dec-r}},
            green: {{base08-dec-g}},
            blue: {{base08-dec-b}},
            alpha: 1.0,
        ),
        bright_orange: (
            red: {{base09-dec-r}},
            green: {{base09-dec-g}},
            blue: {{base09-dec-b}},
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: {{base03-dec-r}},
            green: {{base03-dec-g}},
            blue: {{base03-dec-b}},
            alpha: 1.0,
        ),
        ext_orange: (
            red: {{base09-dec-r}},
            green: {{base09-dec-g}},
            blue: {{base09-dec-b}},
            alpha: 1.0,
        ),
        ext_yellow: (
            red: {{base0A-dec-r}},
            green: {{base0A-dec-g}},
            blue: {{base0A-dec-b}},
            alpha: 1.0,
        ),
        ext_blue: (
            red: {{base0B-dec-r}},
            green: {{base0B-dec-g}},
            blue: {{base0B-dec-b}},
            alpha: 1.0,
        ),
        ext_purple: (
            red: {{base0D-dec-r}},
            green: {{base0D-dec-g}},
            blue: {{base0D-dec-b}},
            alpha: 1.0,
        ),
        ext_pink: (
            red: {{base09-dec-r}},
            green: {{base09-dec-g}},
            blue: {{base09-dec-b}},
            alpha: 1.0,
        ),
        ext_indigo: (
            red: {{base0D-dec-r}},
            green: {{base0D-dec-g}},
            blue: {{base0D-dec-b}},
            alpha: 1.0,
        ),
        accent_blue: (
            red: {{base0C-dec-r}},
            green: {{base0C-dec-g}},
            blue: {{base0C-dec-b}},
            alpha: 1.0,
        ),
        accent_red: (
            red: {{base08-dec-r}},
            green: {{base08-dec-g}},
            blue: {{base08-dec-b}},
            alpha: 1.0,
        ),
        accent_green: (
            red: {{base0B-dec-r}},
            green: {{base0B-dec-g}},
            blue: {{base0B-dec-b}},
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: {{base03-dec-r}},
            green: {{base03-dec-g}},
            blue: {{base03-dec-b}},
            alpha: 1.0,
        ),
        accent_orange: (
            red: {{base09-dec-r}},
            green: {{base09-dec-g}},
            blue: {{base09-dec-b}},
            alpha: 1.0,
        ),
        accent_yellow: (
            red: {{base0A-dec-r}},
            green: {{base0A-dec-g}},
            blue: {{base0A-dec-b}},
            alpha: 1.0,
        ),
        accent_purple: (
            red: {{base0D-dec-r}},
            green: {{base0D-dec-g}},
            blue: {{base0D-dec-b}},
            alpha: 1.0,
        ),
        accent_pink: (
            red: {{base08-dec-r}},
            green: {{base08-dec-g}},
            blue: {{base08-dec-b}},
            alpha: 1.0,
        ),
        accent_indigo: (
            red: {{base0D-dec-r}},
            green: {{base0D-dec-g}},
            blue: {{base0D-dec-b}},
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (2.0, 2.0, 2.0, 2.0),
        radius_m: (2.0, 2.0, 2.0, 2.0),
        radius_l: (2.0, 2.0, 2.0, 2.0),
        radius_xl: (2.0, 2.0, 2.0, 2.0),
    ),
    neutral_tint: Some((
        red: {{base02-dec-r}},
        green: {{base02-dec-g}},
        blue: {{base02-dec-b}},
        alpha: 1.0,
    )),
    bg_color: Some((
        red: {{base00-dec-r}},
        green: {{base00-dec-g}},
        blue: {{base00-dec-b}},
        alpha: 1.0,
    )),
    primary_container_bg: Some((
        red: {{base01-dec-r}},
        green: {{base01-dec-g}},
        blue: {{base01-dec-b}},
        alpha: 1.0,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: {{base05-dec-r}},
        green: {{base05-dec-g}},
        blue: {{base05-dec-b}},
        alpha: 1.0,
    )),
    accent: Some((
        red: {{base0D-dec-r}},
        green: {{base0D-dec-g}},
        blue: {{base0D-dec-b}},
        alpha: 1.0,
    )),
    success: Some((
        red: {{base0B-dec-r}},
        green: {{base0B-dec-g}},
        blue: {{base0B-dec-b}},
        alpha: 1.0,
    )),
    warning: Some((
        red: {{base0A-dec-r}},
        green: {{base0A-dec-g}},
        blue: {{base0A-dec-b}},
        alpha: 1.0,
    )),
    destructive: Some((
        red: {{base08-dec-r}},
        green: {{base08-dec-g}},
        blue: {{base08-dec-b}},
        alpha: 1.0,
    )),
    is_frosted: false,
    gaps: (0, 8),
    active_hint: 1,
    window_hint: None,
)