(
    name: "{{scheme-name}}",
    foreground: "#{{base05-hex}}",
    background: "#{{base00-hex}}",
    cursor: "#{{base03-hex}}",
    bright_foreground: "#{{base05-hex}}",
    dim_foreground: "#{{base07-hex}}",
    normal: (
        black: "#{{base02-hex}}",
        red: "#{{base08-hex}}",
        green: "#{{base0B-hex}}",
        yellow: "#{{base09-hex}}",
        blue: "#{{base0C-hex}}",
        magenta: "#{{base0D-hex}}",
        cyan: "#{{base0A-hex}}",
        white: "#{{base05-hex}}"
    ),
    bright: (
        black: "#{{base02-hex}}",
        red: "#{{base08-hex}}",
        green: "#{{base0B-hex}}",
        yellow: "#{{base09-hex}}",
        blue: "#{{base0C-hex}}",
        magenta: "#{{base0D-hex}}",
        cyan: "#{{base0A-hex}}",
        white: "#{{base05-hex}}"
    ),
    dim: (
        black: "#{{base02-hex}}",
        red: "#{{base08-hex}}",
        green: "#{{base0B-hex}}",
        yellow: "#{{base09-hex}}",
        blue: "#{{base0C-hex}}",
        magenta: "#{{base0D-hex}}",
        cyan: "#{{base0A-hex}}",
        white: "#{{base05-hex}}"
    ),
)