(
    name: "Tomorrow",
    foreground: "#373b41",
    background: "#ffffff",
    cursor: "#b4b7b4",
    bright_foreground: "#373b41",
    dim_foreground: "#1d1f21",
    normal: (
        black: "#c5c8c6",
        red: "#c82829",
        green: "#718c00",
        yellow: "#f5871f",
        blue: "#3e999f",
        magenta: "#4271ae",
        cyan: "#eab700",
        white: "#373b41"
    ),
    bright: (
        black: "#c5c8c6",
        red: "#c82829",
        green: "#718c00",
        yellow: "#f5871f",
        blue: "#3e999f",
        magenta: "#4271ae",
        cyan: "#eab700",
        white: "#373b41"
    ),
    dim: (
        black: "#c5c8c6",
        red: "#c82829",
        green: "#718c00",
        yellow: "#f5871f",
        blue: "#3e999f",
        magenta: "#4271ae",
        cyan: "#eab700",
        white: "#373b41"
    ),
)