(
    name: "Shades of Purple",
    foreground: "#c7c7c7",
    background: "#1e1e3f",
    cursor: "#808080",
    bright_foreground: "#c7c7c7",
    dim_foreground: "#ffffff",
    normal: (
        black: "#f1d000",
        red: "#d90429",
        green: "#3ad900",
        yellow: "#f92a1c",
        blue: "#00c5c7",
        magenta: "#6943ff",
        cyan: "#ffe700",
        white: "#c7c7c7"
    ),
    bright: (
        black: "#f1d000",
        red: "#d90429",
        green: "#3ad900",
        yellow: "#f92a1c",
        blue: "#00c5c7",
        magenta: "#6943ff",
        cyan: "#ffe700",
        white: "#c7c7c7"
    ),
    dim: (
        black: "#f1d000",
        red: "#d90429",
        green: "#3ad900",
        yellow: "#f92a1c",
        blue: "#00c5c7",
        magenta: "#6943ff",
        cyan: "#ffe700",
        white: "#c7c7c7"
    ),
)