(
    name: "Everforest",
    foreground: "#d3c6aa",
    background: "#2d353b",
    cursor: "#859289",
    bright_foreground: "#d3c6aa",
    dim_foreground: "#fdf6e3",
    normal: (
        black: "#475258",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#e69875",
        blue: "#83c092",
        magenta: "#7fbbb3",
        cyan: "#dbbc7f",
        white: "#d3c6aa"
    ),
    bright: (
        black: "#475258",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#e69875",
        blue: "#83c092",
        magenta: "#7fbbb3",
        cyan: "#dbbc7f",
        white: "#d3c6aa"
    ),
    dim: (
        black: "#475258",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#e69875",
        blue: "#83c092",
        magenta: "#7fbbb3",
        cyan: "#dbbc7f",
        white: "#d3c6aa"
    ),
)