(
    name: "Gruvbox Material Light, Medium",
    foreground: "#654735",
    background: "#fbf1c7",
    cursor: "#bdae93",
    bright_foreground: "#654735",
    dim_foreground: "#282828",
    normal: (
        black: "#d5c4a1",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#c35e0a",
        blue: "#4c7a5d",
        magenta: "#45707a",
        cyan: "#b47109",
        white: "#654735"
    ),
    bright: (
        black: "#d5c4a1",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#c35e0a",
        blue: "#4c7a5d",
        magenta: "#45707a",
        cyan: "#b47109",
        white: "#654735"
    ),
    dim: (
        black: "#d5c4a1",
        red: "#c14a4a",
        green: "#6c782e",
        yellow: "#c35e0a",
        blue: "#4c7a5d",
        magenta: "#45707a",
        cyan: "#b47109",
        white: "#654735"
    ),
)