(
    name: "Summerfruit Dark",
    foreground: "#d0d0d0",
    background: "#151515",
    cursor: "#505050",
    bright_foreground: "#d0d0d0",
    dim_foreground: "#ffffff",
    normal: (
        black: "#303030",
        red: "#ff0086",
        green: "#00c918",
        yellow: "#fd8900",
        blue: "#1faaaa",
        magenta: "#3777e6",
        cyan: "#aba800",
        white: "#d0d0d0"
    ),
    bright: (
        black: "#303030",
        red: "#ff0086",
        green: "#00c918",
        yellow: "#fd8900",
        blue: "#1faaaa",
        magenta: "#3777e6",
        cyan: "#aba800",
        white: "#d0d0d0"
    ),
    dim: (
        black: "#303030",
        red: "#ff0086",
        green: "#00c918",
        yellow: "#fd8900",
        blue: "#1faaaa",
        magenta: "#3777e6",
        cyan: "#aba800",
        white: "#d0d0d0"
    ),
)