(
    name: "Black Metal (Dark Funeral)",
    foreground: "#c1c1c1",
    background: "#000000",
    cursor: "#333333",
    bright_foreground: "#c1c1c1",
    dim_foreground: "#c1c1c1",
    normal: (
        black: "#222222",
        red: "#5f8787",
        green: "#d0dfee",
        yellow: "#aaaaaa",
        blue: "#aaaaaa",
        magenta: "#888888",
        cyan: "#5f81a5",
        white: "#c1c1c1"
    ),
    bright: (
        black: "#222222",
        red: "#5f8787",
        green: "#d0dfee",
        yellow: "#aaaaaa",
        blue: "#aaaaaa",
        magenta: "#888888",
        cyan: "#5f81a5",
        white: "#c1c1c1"
    ),
    dim: (
        black: "#222222",
        red: "#5f8787",
        green: "#d0dfee",
        yellow: "#aaaaaa",
        blue: "#aaaaaa",
        magenta: "#888888",
        cyan: "#5f81a5",
        white: "#c1c1c1"
    ),
)