(
    name: "3024",
    foreground: "#a5a2a2",
    background: "#090300",
    cursor: "#5c5855",
    bright_foreground: "#a5a2a2",
    dim_foreground: "#f7f7f7",
    normal: (
        black: "#4a4543",
        red: "#db2d20",
        green: "#01a252",
        yellow: "#e8bbd0",
        blue: "#b5e4f4",
        magenta: "#01a0e4",
        cyan: "#fded02",
        white: "#a5a2a2"
    ),
    bright: (
        black: "#4a4543",
        red: "#db2d20",
        green: "#01a252",
        yellow: "#e8bbd0",
        blue: "#b5e4f4",
        magenta: "#01a0e4",
        cyan: "#fded02",
        white: "#a5a2a2"
    ),
    dim: (
        black: "#4a4543",
        red: "#db2d20",
        green: "#01a252",
        yellow: "#e8bbd0",
        blue: "#b5e4f4",
        magenta: "#01a0e4",
        cyan: "#fded02",
        white: "#a5a2a2"
    ),
)