(
    name: "Solar Flare",
    foreground: "#a6afb8",
    background: "#18262f",
    cursor: "#667581",
    bright_foreground: "#a6afb8",
    dim_foreground: "#f5f7fa",
    normal: (
        black: "#586875",
        red: "#ef5253",
        green: "#7cc844",
        yellow: "#e66b2b",
        blue: "#52cbb0",
        magenta: "#33b5e1",
        cyan: "#e4b51c",
        white: "#a6afb8"
    ),
    bright: (
        black: "#586875",
        red: "#ef5253",
        green: "#7cc844",
        yellow: "#e66b2b",
        blue: "#52cbb0",
        magenta: "#33b5e1",
        cyan: "#e4b51c",
        white: "#a6afb8"
    ),
    dim: (
        black: "#586875",
        red: "#ef5253",
        green: "#7cc844",
        yellow: "#e66b2b",
        blue: "#52cbb0",
        magenta: "#33b5e1",
        cyan: "#e4b51c",
        white: "#a6afb8"
    ),
)