(
    name: "Windows High Contrast",
    foreground: "#c0c0c0",
    background: "#000000",
    cursor: "#545454",
    bright_foreground: "#c0c0c0",
    dim_foreground: "#fcfcfc",
    normal: (
        black: "#383838",
        red: "#fc5454",
        green: "#54fc54",
        yellow: "#808000",
        blue: "#54fcfc",
        magenta: "#5454fc",
        cyan: "#fcfc54",
        white: "#c0c0c0"
    ),
    bright: (
        black: "#383838",
        red: "#fc5454",
        green: "#54fc54",
        yellow: "#808000",
        blue: "#54fcfc",
        magenta: "#5454fc",
        cyan: "#fcfc54",
        white: "#c0c0c0"
    ),
    dim: (
        black: "#383838",
        red: "#fc5454",
        green: "#54fc54",
        yellow: "#808000",
        blue: "#54fcfc",
        magenta: "#5454fc",
        cyan: "#fcfc54",
        white: "#c0c0c0"
    ),
)