(
    name: "OceanicNext",
    foreground: "#c0c5ce",
    background: "#1b2b34",
    cursor: "#65737e",
    bright_foreground: "#c0c5ce",
    dim_foreground: "#d8dee9",
    normal: (
        black: "#4f5b66",
        red: "#ec5f67",
        green: "#99c794",
        yellow: "#f99157",
        blue: "#5fb3b3",
        magenta: "#6699cc",
        cyan: "#fac863",
        white: "#c0c5ce"
    ),
    bright: (
        black: "#4f5b66",
        red: "#ec5f67",
        green: "#99c794",
        yellow: "#f99157",
        blue: "#5fb3b3",
        magenta: "#6699cc",
        cyan: "#fac863",
        white: "#c0c5ce"
    ),
    dim: (
        black: "#4f5b66",
        red: "#ec5f67",
        green: "#99c794",
        yellow: "#f99157",
        blue: "#5fb3b3",
        magenta: "#6699cc",
        cyan: "#fac863",
        white: "#c0c5ce"
    ),
)