(
    name: "Everforest Dark Medium",
    foreground: "#859289",
    background: "#2d353b",
    cursor: "#475258",
    bright_foreground: "#859289",
    dim_foreground: "#d3c6aa",
    normal: (
        black: "#3d484d",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#e69875",
        blue: "#83c092",
        magenta: "#7fbbb3",
        cyan: "#dbbc7f",
        white: "#859289"
    ),
    bright: (
        black: "#3d484d",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#e69875",
        blue: "#83c092",
        magenta: "#7fbbb3",
        cyan: "#dbbc7f",
        white: "#859289"
    ),
    dim: (
        black: "#3d484d",
        red: "#e67e80",
        green: "#a7c080",
        yellow: "#e69875",
        blue: "#83c092",
        magenta: "#7fbbb3",
        cyan: "#dbbc7f",
        white: "#859289"
    ),
)