(
    name: "Gruvbox dark, medium",
    foreground: "#d5c4a1",
    background: "#282828",
    cursor: "#665c54",
    bright_foreground: "#d5c4a1",
    dim_foreground: "#fbf1c7",
    normal: (
        black: "#504945",
        red: "#fb4934",
        green: "#b8bb26",
        yellow: "#fe8019",
        blue: "#8ec07c",
        magenta: "#83a598",
        cyan: "#fabd2f",
        white: "#d5c4a1"
    ),
    bright: (
        black: "#504945",
        red: "#fb4934",
        green: "#b8bb26",
        yellow: "#fe8019",
        blue: "#8ec07c",
        magenta: "#83a598",
        cyan: "#fabd2f",
        white: "#d5c4a1"
    ),
    dim: (
        black: "#504945",
        red: "#fb4934",
        green: "#b8bb26",
        yellow: "#fe8019",
        blue: "#8ec07c",
        magenta: "#83a598",
        cyan: "#fabd2f",
        white: "#d5c4a1"
    ),
)