(
    name: "Shapeshifter",
    foreground: "#102015",
    background: "#f9f9f9",
    cursor: "#555555",
    bright_foreground: "#102015",
    dim_foreground: "#000000",
    normal: (
        black: "#ababab",
        red: "#e92f2f",
        green: "#0ed839",
        yellow: "#e09448",
        blue: "#23edda",
        magenta: "#3b48e3",
        cyan: "#dddd13",
        white: "#102015"
    ),
    bright: (
        black: "#ababab",
        red: "#e92f2f",
        green: "#0ed839",
        yellow: "#e09448",
        blue: "#23edda",
        magenta: "#3b48e3",
        cyan: "#dddd13",
        white: "#102015"
    ),
    dim: (
        black: "#ababab",
        red: "#e92f2f",
        green: "#0ed839",
        yellow: "#e09448",
        blue: "#23edda",
        magenta: "#3b48e3",
        cyan: "#dddd13",
        white: "#102015"
    ),
)