(
    name: "DanQing",
    foreground: "#e0f0ef",
    background: "#2d302f",
    cursor: "#9da8a3",
    bright_foreground: "#e0f0ef",
    dim_foreground: "#fcfefd",
    normal: (
        black: "#5a605d",
        red: "#f9906f",
        green: "#8ab361",
        yellow: "#b38a61",
        blue: "#30dff3",
        magenta: "#b0a4e3",
        cyan: "#f0c239",
        white: "#e0f0ef"
    ),
    bright: (
        black: "#5a605d",
        red: "#f9906f",
        green: "#8ab361",
        yellow: "#b38a61",
        blue: "#30dff3",
        magenta: "#b0a4e3",
        cyan: "#f0c239",
        white: "#e0f0ef"
    ),
    dim: (
        black: "#5a605d",
        red: "#f9906f",
        green: "#8ab361",
        yellow: "#b38a61",
        blue: "#30dff3",
        magenta: "#b0a4e3",
        cyan: "#f0c239",
        white: "#e0f0ef"
    ),
)