(
    name: "Rebecca",
    foreground: "#f1eff8",
    background: "#292a44",
    cursor: "#666699",
    bright_foreground: "#f1eff8",
    dim_foreground: "#53495d",
    normal: (
        black: "#383a62",
        red: "#a0a0c5",
        green: "#6dfedf",
        yellow: "#efe4a1",
        blue: "#8eaee0",
        magenta: "#2de0a7",
        cyan: "#ae81ff",
        white: "#f1eff8"
    ),
    bright: (
        black: "#383a62",
        red: "#a0a0c5",
        green: "#6dfedf",
        yellow: "#efe4a1",
        blue: "#8eaee0",
        magenta: "#2de0a7",
        cyan: "#ae81ff",
        white: "#f1eff8"
    ),
    dim: (
        black: "#383a62",
        red: "#a0a0c5",
        green: "#6dfedf",
        yellow: "#efe4a1",
        blue: "#8eaee0",
        magenta: "#2de0a7",
        cyan: "#ae81ff",
        white: "#f1eff8"
    ),
)